body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.button {
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  background: #007fbd;
  border: 1px solid #dbebfa;
  color: #d7d7d7;
  cursor: pointer;
}
.game-start__textContainer {
  margin: 1rem auto;
  width: 60vw;
  max-width: 960px;
  text-align: center;
}
.game-start__textContainer > h2 {
  font-size: 1.5rem;
}
.game-start__textContainer > h3 {
  font-size: 1.1rem;
}
.game-start__textContainer > img {
  display: block;
  margin: 1rem auto;
  width: 58vw;
  max-width: 920px;
}
.game-instructions__textContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  min-width: 300px;
}
.game-instructions__textContainer > div {
  width: 45vw;
  margin: 1rem auto;
}
.game-instructions__image {
  width: 90%;
  margin: 3rem auto;
  display: block;
}
.game-instructions__text {
  margin: 1rem auto;
  padding: 2rem;
}
.header{
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 1rem;
  background: #00334e;
  border-bottom: 5px solid #dbebfa;
}
.header-title {
  padding: 1rem;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.header-title:focus {
  outline: none;
}
.header-title__shadow {
  opacity: 0.2;
}
.game-page__main {
  height: 90vh;
  width: 90vw;
  margin: 2rem auto;
}
.game-title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.game-title__text {
  padding: 0 1rem;
  margin: 0;
  line-height: 1.1;
}
.game-title__reverse-1 {
  unicode-bidi:bidi-override;
  direction:rtl;

}
.game-title__reverse-2 {
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
  unicode-bidi:bidi-override;
  direction:rtl;
}
.game-title__reverse-3, .game-word__reverse  {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.game-word__reverse {
  text-align: center;
}

.game-input {
  font-size: 2rem;
  background: pink;
  padding: 1rem 2rem;
}